<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572162470436-nbnt1n3cojfeudnshpc8hipigf0v0bpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572162470436-nbnt1n3cojfeudnshpc8hipigf0v0bpl</string>
	<key>API_KEY</key>
	<string>AIzaSyCnSFVih6oHvzTg2DG97m6hOZ0QJZOWpKU</string>
	<key>GCM_SENDER_ID</key>
	<string>572162470436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudlisten</string>
	<key>PROJECT_ID</key>
	<string>cloudupload-8dedb</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudupload-8dedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572162470436:ios:1b52628947913ef5</string>
	<key>DATABASE_URL</key>
	<string>https://cloudupload-8dedb.firebaseio.com</string>
</dict>
</plist>